server:
  build: ./server
  ports:
    - "5001:5001"
  environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:5001;http://+:5000
      - ASPNETCORE_Kestrel__Certificates__Default__Password=secret
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/server.pfx
  volumes:
    - ~/.aspnet/https:/https:ro
  links:
    - client
client:
  build: ./client
  ports:
      - "3000:3000"